// FONTS
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Work+Sans&display=swap");

//COLORS
$text: #1e212b;
$background: #f2f4f3;
$primary: #ddab2c;
$secondary: #c2b5ae;
$accent: #5b8266;
$light-shadow: rgba(0, 0, 0, 0.25);
$shadow: rgba(0, 0, 0, 0.5);

//STRUCTURE
body {
    background-color: $background;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: "Marcellus", serif;
    font-size: 1.2em;

    a {
        display: block;
        text-decoration: none;
        color: $text;

        &:has(svg) {
            display: inline;
        }
    }

    svg.bi {
        padding: 10px;

        &:hover {
            cursor: pointer;
            background: $primary;
        }
    }

    div#page-header {
        div#header-top {
            margin: 0 40px;
            padding: 20px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $text;

            div#header-top-left {
                flex: 1;
            }

            div#header-top-right {
                text-align: right;
                flex: 1;
            }

            img {
                height: 150px;
                display: block;
            }
        }

        div#header-bottom {
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background;
            border-bottom: 1px solid $secondary;

            &.sticky {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
                padding: 0 40px;
                width: calc(100% - 80px);
            }

            &:not(.sticky) {
                div#header-sticky-left *,
                div#header-sticky-right * {
                    display: none;
                }
            }

            nav {
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin: 0 20px;

                        &.active {
                            background-color: $accent;

                            a {
                                color: $background;
                            }
                        }

                        a {
                            padding: 20px;

                            &:focus,
                            &:hover {
                                background-color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    flex: 1;

    &.sticky {
        padding-top: 64px;
    }

    h1 {
        text-align: center;
    }

    div.section-contents {
        max-width: 1000px;
        padding: 20px;
        margin: 0 auto;
    }

    section {
        &.secondary {
            background-color: $secondary;
        }

        &.center {
            div.section-contents {
                text-align: center;
            }
        }
    }

    img.about-image {
        width: 300px;
        border-radius: 50%;
        float: left;
        margin: 0 20px 20px 0;
    }
}

footer {
    padding: 20px;
    text-align: center;
    background-color: $secondary;

    div#socials {
        padding: 20px;

        a.social-button {
            text-decoration: none;
            display: inline;
            margin: 20px;
            color: $text;
        }
    }
}

//ELEMENTS

div.hero {
    color: $background;
    position: relative;
    height: 500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div.hero-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

div.svg-bullet {
    display: flex;
    align-items: center;
    svg {
        padding-right: 10px;
    }
}

div.contact-form {
    background-color: $secondary;
    padding: 20px;
    box-shadow: 0 0 3px;

    input,
    textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        resize: vertical;
    }
}

div.side-by-side {
    display: flex;
    & > *:not(:last-child) {
        margin-right: 20px;
    }
}

a.action-button,
button.action-button {
    color: $background;
    background-color: $primary;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border: 2px solid $primary;

    &:focus,
    &:hover {
        color: $primary;
        background-color: $text;
        cursor: pointer;
    }
}

button,
input[type="button"],
input[type="submit"] {
    color: $text;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border: 2px solid $text;

    &:focus,
    &:hover {
        color: $background;
        background-color: $accent;
        cursor: pointer;
    }
}

input[type="email"] {
    padding: 11px;
    border: 1px solid $accent;
    width: 300px;
}

div.product-tile {
    display: inline-block;
    box-shadow: 0 0 3px $shadow;
    padding: 10px;
    text-align: center;

    &:hover {
        background-color: $light-shadow;
    }

    a {
        text-decoration: none;
        color: $text;
    }

    img {
        height: 200px;
    }

    span {
        display: block;
        margin: 10px;
    }

    button {
        display: block;
        width: 100%;
    }
}

div.story-tile {
    display: flex;
    background-color: $background;
    margin: 10px 0;
    box-shadow: 0 0 3px;

    div.image {
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    div.text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 40px;

        h3 {
            // text-align: center;
            color: $accent;
            font-size: 3em;
            margin: 5px;
        }
    }
}
