@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Work+Sans&display=swap");
body {
  background-color: #f2f4f3;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: "Marcellus", serif;
  font-size: 1.2em;
}
header a {
  display: block;
  text-decoration: none;
  color: #1e212b;
}
header a:has(svg) {
  display: inline;
}
header svg.bi {
  padding: 10px;
}
header svg.bi:hover {
  cursor: pointer;
  background: #ddab2c;
}
header div#page-header div#header-top {
  margin: 0 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e212b;
}
header div#page-header div#header-top div#header-top-left {
  flex: 1;
}
header div#page-header div#header-top div#header-top-right {
  text-align: right;
  flex: 1;
}
header div#page-header div#header-top img {
  height: 150px;
  display: block;
}
header div#page-header div#header-bottom {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f4f3;
  border-bottom: 1px solid #c2b5ae;
}
header div#page-header div#header-bottom.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0 40px;
  width: calc(100% - 80px);
}
header div#page-header div#header-bottom:not(.sticky) div#header-sticky-left *,
header div#page-header div#header-bottom:not(.sticky) div#header-sticky-right * {
  display: none;
}
header div#page-header div#header-bottom nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header div#page-header div#header-bottom nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header div#page-header div#header-bottom nav ul li {
  display: inline-block;
  margin: 0 20px;
}
header div#page-header div#header-bottom nav ul li.active {
  background-color: #5b8266;
}
header div#page-header div#header-bottom nav ul li.active a {
  color: #f2f4f3;
}
header div#page-header div#header-bottom nav ul li a {
  padding: 20px;
}
header div#page-header div#header-bottom nav ul li a:focus, header div#page-header div#header-bottom nav ul li a:hover {
  background-color: #ddab2c;
}

main {
  flex: 1;
}
main.sticky {
  padding-top: 64px;
}
main h1 {
  text-align: center;
}
main div.section-contents {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}
main section.secondary {
  background-color: #c2b5ae;
}
main section.center div.section-contents {
  text-align: center;
}
main img.about-image {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 20px 0;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #c2b5ae;
}
footer div#socials {
  padding: 20px;
}
footer div#socials a.social-button {
  text-decoration: none;
  display: inline;
  margin: 20px;
  color: #1e212b;
}

div.hero {
  color: #f2f4f3;
  position: relative;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.hero div.hero-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.svg-bullet {
  display: flex;
  align-items: center;
}
div.svg-bullet svg {
  padding-right: 10px;
}

div.contact-form {
  background-color: #c2b5ae;
  padding: 20px;
  box-shadow: 0 0 3px;
}
div.contact-form input,
div.contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  resize: vertical;
}

div.side-by-side {
  display: flex;
}
div.side-by-side > *:not(:last-child) {
  margin-right: 20px;
}

a.action-button,
button.action-button {
  color: #f2f4f3;
  background-color: #ddab2c;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #ddab2c;
}
a.action-button:focus, a.action-button:hover,
button.action-button:focus,
button.action-button:hover {
  color: #ddab2c;
  background-color: #1e212b;
  cursor: pointer;
}

button,
input[type=button],
input[type=submit] {
  color: #1e212b;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #1e212b;
}
button:focus, button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  color: #f2f4f3;
  background-color: #5b8266;
  cursor: pointer;
}

input[type=email] {
  padding: 11px;
  border: 1px solid #5b8266;
  width: 300px;
}

div.product-tile {
  display: inline-block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}
div.product-tile:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
div.product-tile a {
  text-decoration: none;
  color: #1e212b;
}
div.product-tile img {
  height: 200px;
}
div.product-tile span {
  display: block;
  margin: 10px;
}
div.product-tile button {
  display: block;
  width: 100%;
}

div.story-tile {
  display: flex;
  background-color: #f2f4f3;
  margin: 10px 0;
  box-shadow: 0 0 3px;
}
div.story-tile div.image {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.story-tile div.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 40px;
}
div.story-tile div.text h3 {
  color: #5b8266;
  font-size: 3em;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */